.texto {
    color: #ff0000;
    font-size: 22px;
}
.conteiner {
    margin-top: 30px;
    border: 2px solid;
    background: #ecececbf;
    width: 320px;
    height: 400px;
    padding: 10px;
    position:relative
}
img{
    width: 100px;
    position: absolute;
    top: -25px;
    right: -25px;
}